.sorokbg {
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 4s;
  }

.square{
    height:10px;
    width:10px;
    background-color: black;
    animation-name: squaresizeAndRotation;
    animation-duration: 4s;
}

@keyframes squaresizeAndRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(127deg);
        width: 100px;
        height:  75px;
    }
  }

  @keyframes myAnimation {
    from {background-color: red;}
    to {background-color: yellow;}
  }